name: Release
on:
  push:
    branches:
      - main
    paths:
      - 'lib/rubocop/numbered/params/version.rb'
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby
          bundler-cache: true
      - name: Publish to RubyGems
        uses: rubygems/release-gem@v1
